<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="MyFileAppender" fileName="logs/error.log" append="true" immediateFlush="true">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyy HH:mm:ss.SSS} [%t] %-5level - %msg%n%throwable</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="MyFileAppender"/>
        </Root>
    </Loggers>
</Configuration>