<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="InfoFileAppender" fileName="/home/cun/IdeaProjects/Lab6/client/src/main/java/logging/client_info.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </File>

        <File name="FatalFileAppender" fileName="/home/cun/IdeaProjects/Lab6/client/src/main/java/logging/client_fatal.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n%throwable"/>
        </File>

        <File name="TraceFileAppender" fileName="/home/cun/IdeaProjects/Lab6/client/src/main/java/logging/client_error_trace.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n%throwable"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="InfoFileAppender"/>
        </Root>
        <Logger name="FatalLogger" level="FATAL" additivity="false">
            <AppenderRef ref="FatalFileAppender"/>
        </Logger>
        <Logger name="TraceLogger" level="TRACE" additivity="false">
            <AppenderRef ref="TraceFileAppender"/>
        </Logger>
    </Loggers>
</Configuration>
